---
---
<div class="w-full h-full bg-red-500 flex flex-col justify-center items-center">
	<h1 class="text-4xl font-bold absolute top-0 p-4 text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
		This website is a work in progress, enjoy this swiss flag
	</h1>
	<div class="w-48 h-48 flex">
		<div class="w-16 h-full">
			<div class="w-16 h-16"></div>
			<div class="w-16 h-16 bg-white"></div>
			<div class="w-16 h-16"></div>
		</div>
		<div class="w-16 h-full">
			<div class="w-16 h-16 bg-white"></div>
			<div class="w-16 h-16 bg-white"></div>
			<div class="w-16 h-16 bg-white"></div>
		</div>
		<div class="w-16 h-full">
			<div class="w-16 h-16"></div>
			<div class="w-16 h-16 bg-white"></div>
			<div class="w-16 h-16"></div>
		</div>
	</div>
</div>